body {
  overflow-x: hidden;
}

.economyWallpaper{
  background-image: url("../../wallpaper/Economy.jpg");
}

.optionBar {
  margin: auto;
}

.informationPanel {
  margin: auto;
}

#waterInformation {
  margin-top: 100px;
}
