

.geographicalWallpaper{
  background-image: url("../../wallpaper/geographical.jpg");
}

.optionBar {
  margin: auto;
}

.informationPanel {
  margin: auto;
}

#waterInformation {
  margin-top: 100px;
}
