
.waterWallpaper{
  background-image: url("../../wallpaper/water.jpg");
  width: 100vw;
}

.optionBar {
  margin: auto;
}

.informationPanel {
  margin: auto;
}

#waterInformation {
  margin-top: 100px;
}
